---
const { education } = Astro.props

import Section from "../Section.astro"
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area }:any) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`

        return (
          <li class="mt-3">
            <article>
              <header class="flex justify-between">
                <div>
                  <h3>{institution}</h3>
                </div>

                <div class="text-sm text-gray-500">
                    <time >{years}</time>
                </div>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

