---
const { work, title } = Astro.props

import Section from "../Section.astro"
---

<Section title={title}>
  <ul >
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }: any) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"

          return (
            <li class=" mt-3">
              <article>
                <header class="flex justify-between">
                  <div>
                    <h3 class="font-medium">
                      <a href={url} title={`Ver ${name}`} target="_blank" > {name}</a>  |  <span class="text-sm text-gray-500">{position}</span>
                    </h3>
                    
                  </div>

                  <div class="text-sm text-gray-500">
                    <time 
                      datetime={startDate}
                      data-title={startDate}>
                        {startYear}
                    </time>
                    {" - "}
                    <time 
                      datetime={endDate}
                      data-title={endDate}>
                        {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>
