---

const { basics } = Astro.props

import Section from "@/components/Section.astro"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import WorldMap from "@/icons/WorldMap.astro"

const { name, label, image, location, profiles, phone, email, freelance } = basics
const { city, region } = location

const SOCIAL_ICONS: any = {
  GitHub,
  LinkedIn
}

const linkedInfo = profiles.find((profile: any) => profile.network === "LinkedIn");
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div class="grid grid-cols-1 md:grid-cols-1 gap-4 place-content-between">
    <div >
      <h1 class="text-3xl font-semibold ">{name}  </h1> 
      <h2 class="">{label} </h2>
      <p class="flex items-center justify-start text-sm text-gray-600 mb-2">
        <WorldMap />
        <span class="mx-2">
          {city}, {region} { <span class={freelance ? "text-green-500 ml-2": "text-gray-500 ml-2 text-lg"} >•</span> } <small class="text-xs text-gray-500">Freelance</small> 
        </span>
      </p>
      
      <footer class="print">
        {printInfo}
      </footer>
      
      <section class="no-print flex justify-start">
        {
          email && (
            <a class="inline-flex items-center bg-gray-100 text-black font-medium p-2 rounded hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 mr-1"
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a class="inline-flex items-center bg-gray-100 text-black font-medium p-2 rounded hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 mr-1"
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(( { network, url, username }: any ) => {
            const Icon = SOCIAL_ICONS[network]

            return (
              <a class="inline-flex items-center bg-gray-100 text-black font-medium p-2 rounded hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 mr-1"
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>  
            )
          })
        }
      </section>

    </div>

</Section>
