---

import About from '@/components/sections/About.astro';
import Me from '../components/sections/Me.astro';
import Layout from '../layouts/Layout.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro'
import Skills from '@/components/sections/Skills.astro'

import Projects from '@/components/sections/Projects.astro';
import Language from '@/components/Language.astro';
import Highlights from '@/components/sections/Highlights.astro';


export async function getStaticPaths() {
  // Define los idiomas soportados
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params
// Cargamos todos los JSON disponibles en el directorio actual
const jsonFiles = import.meta.glob('/*.json', { eager: true });
// Determina el archivo correspondiente según el idioma
const fileKey = lang === 'es' ? '/cv_es.json' : '/cv_en.json';

const data = jsonFiles[fileKey] as { basics: any; work: any; skills: any; education: any; projects: any; titles: any, highlights: any };
const { basics, work, skills, education, projects, titles, highlights } = data;

---

<Layout title="portfolio.min">

	<section id="language" class="flex justify-end">
		<Language />
	</section>

	<main>
		<Me basics={basics}/>
		<Highlights highlights={highlights}/>
		<About summary={basics.summary} title={titles.about}/>
		<Experience work={work} title={titles.work}/>
		<Education education={education} title={titles.education}/>
		<Skills skills={skills} title={titles.skills}/>
		<Projects projects={projects} title={titles.projects}/>
		<footer>
			<p class="text-center text-sm text-gray-500 mt-6 mb-3"> © {new Date().getFullYear()} portfolio.min <br>
				 Modified with <a href="https://astro.build/">🚀</a> by A. Ponce | Design inspiration on  <a class="text-cyan-600" href="https://github.com/BartoszJarocki/cv">[BartoszJarocki]</a></p>
		</footer>
	</main>

</Layout>

<style>

	section#language{
		width: 60%;	
		margin: 0 auto; /* Centra horizontalmente */
		padding: 0 2.5em;
	}

	main {
		width: 60%; /* Toma el 40% del ancho de la pantalla */
		margin: 0 auto; /* Centra horizontalmente */
		padding: .5em 2.5em; /* Espaciado interno */
		box-sizing: border-box;
	}

	/* Media queries para adaptabilidad */
	@media (max-width: 1200px) {
		main {
			width: 60%; /* Ajusta el ancho a 50% en pantallas medianas */
		}

		section#language{
			width: 60%; 
		}
	}

	@media (max-width: 768px) {
		main {
			width: 80%; /* Ajusta el ancho a 70% en pantallas pequeñas */
			padding: .5em; /* Reduce el padding */
		}

		section#language{
			width: 80%; 
			padding: 0 .5em; /* Espaciado interno */
		}

	}

	@media (max-width: 480px) {
		main {
			width: 95%; /* Ajusta el ancho a 90% en pantallas muy pequeñas */
			padding: .5em;  /* Reduce aún más el padding */
		}

		section#language{
			width: 95%; 
			padding: 0 .5em; /* Espaciado interno */
		}
	}
</style>